<!DOCTYPE html>
<html>
<head>
	<title>Vblogger</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
	<script type="text/javascript">
		
	</script>
</head>
<body>

<header>
	
	<% if !request.fullpath.to_s.include? "login/" %>
		<% if !session[:loggedblogger] %>
			<script type="text/javascript">
	    		window.location.href="/login/index"
	  		</script>			
		<% elsif session[:loggedblogger] %>	
			<%= link_to "Home", blogs_path %>
			<%= link_to "My Blogs", blogs_myblogs_path %>
			<% loggedblogger = session[:loggedblogger] %>
			<%= loggedblogger[:name] %>		
			<%= form_for Blogger.new, url: application_clearsession_path do |logoutform| %>
				<%= logoutform.submit "Logout" %>
			<% end %>
	  	<% end %>
	<% end %>
</header>


	<% flash.each do |key,value| %>
		<p><%= value %></p>
	<% end %>
	
	<%= yield %>

</body>
</html>
