<h1>
	<%= link_to @blog.blogtitle, blog_path(@blog) %>
</h1>

<h1>Edit Post</h1>

<%= form_for @post, url: "/blogs/#{@blog.id}/posts/#{@post[:id]}", method: :patch do |f| %>
	<p>
		<%= f.label :title %>
	</p>
	<p>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %>
	</p>
	<p>
		<%= f.text_area :content %>
	</p>
	
	<%= f.submit "Edit post" %>
<% end %>