<h1>
	<%= link_to @blog.blogtitle, blog_path(@blog) %>
</h1>

<h2>All Posts</h2>

<% @posts.each do |post| %>
	<p>
		<h2>
			<%= link_to post.title, "/blogs/#{@blog.id}/posts/#{@post}" %>
		</h2>
		<%= post.created_at %>
	</p>
	<p>
		<%= post.content %>
	</p>
	<% @blogger = Blogger.find_by bloggerid: post.bloggerid %>
	<p>
		Author: <%= @blogger.name %>
	</p>
	<p>
		<%= link_to "Edit", "/blogs/#{@blog.id}/posts/#{post.id}/edit" %> |
		<%= link_to "Delete", "/blogs/#{@blog.id}/posts/#{post.id}", :confirm => "Are you sure you want to delete this post ?", :method => :delete %>
	</p>
	<hr/>
<% end %>

<%= link_to "Add new post", new_blog_post_path(@blog) %>