<h1>
	<%= link_to @blog.blogtitle, blog_path(@blog) %>
</h1>

<h2>New Post</h2>


<%= form_for @post, url: "/blogs/#{@blog.id}/posts", method: :post do |f| %>
	<p>
		<%= f.label :title, "Title of the post" %>
	</p>
	<p>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content, "Body of the post"%>
	</p>
	<p>
		<%= f.text_area :content %>
	</p>
	
	<%= f.submit "Add new post" %>
<% end %>